* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // $background: #2c303a;

  .container {
    // margin: auto;
    width: 100%;
    text-align: center;
  }

  .progress {
    padding: 2px;
    // background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    // box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }

  .progress-bar {
    height: 6px;
    background-color: #ee303c;
    border-radius: 4px;
    transition: 0.4s linear ease;
    transition-property: width, background-color;
  }

  .progress-striped .progress-bar {
    background-color: #7000ff;
    width: 100%;

    animation: progressAnimationStrike 6s;
  }

  @keyframes progressAnimationStrike {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .shad {
    box-shadow: inset 5px 5px 10px white, inset -5px -5px 10px #f0f0f0;
  }

  .tt {
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  5px 5px 0px #b1b1b1,
                 -5px -5px 0px #ffffff;
    

  }

  .cc {
    margin: auto;
    margin: 0;
  }

  .parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
  }

  .block {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
  }

  .shd {
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }

  body {
    background-color: black;
  }

  .ten {
    background: linear-gradient(150deg, #dddddd, #ffffff);
    box-shadow: 5px 5px 10px #626262, -5px -5px 10px #ffffff;
  }

  .glass {
    background: rgba(26, 26, 26, 0.32);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(26, 26, 26, 0.3);
  }

  $green: #4cd964;
  $turquoise: #5ac8fa;
  $blue: #007aff;
  $light-blue: #7dc8e8;
  $purple: #5856d6;
  $red: #ff2d55;
}

.loading .image,
.loading h4,
.loading .description {
  background-color: var(--loading-grey);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, .5) 50%,
    rgba(255, 255, 255, 0) 60%
  ) var(--loading-grey);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.animation{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
}

.animation_panel{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 13%;
  margin-right: 240px;
}
